<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904406267101-pvieme0g5rj7dft11puhodntda6p2aps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904406267101-pvieme0g5rj7dft11puhodntda6p2aps</string>
	<key>API_KEY</key>
	<string>AIzaSyAMhITmIsGI7sCbXqXz-V9sI_hmHVSd9r8</string>
	<key>GCM_SENDER_ID</key>
	<string>904406267101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abhnv.Kobble.KobbleBackendTest</string>
	<key>PROJECT_ID</key>
	<string>kobblebackend</string>
	<key>STORAGE_BUCKET</key>
	<string>kobblebackend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904406267101:ios:82219e8cd817a5d2c7d734</string>
</dict>
</plist>